doctype html
include _head
html
  head
    title= title
  body
    table(style='width:100%', border='1')
      tr
        th Room Name
        th Price
        th Assignee
        th Paid
        th Available
      each room in rooms
          tr(class=`room ${room.isAvailable ? 'available' : 'unavailable'} ${room.isAssigned ? 'assigned' : 'unassigned'} ${room.isPaid ? 'paid' : 'not-paid'} ${room.isAssignedNotPaid ? 'assigned-not-paid': ''}`)
            td #{room.room}
            td #{room.price}
            td #{room.assignee}
            td.paid-indicator #{room.isPaidText}
            td.availability #{room.isAvailableText}
            td
              a(href=`/room/admin/${room._id}`) update