html
  head
    title= title
  body
    table(style='width:100%', border='1')
      tr
        th Room Name
        th Price
        th Assignee
        th Paid
      each room in rooms
          tr
            td #{room.room}
            td #{room.price}
            td #{room.assignee}
            td #{room.paid}
            td
              a(href=`/room/admin/${room._id}?key=${key}`) update