html
  head
    title= title
  body
    table(style='width:100%', border='1')
      tr
        th Email
        th First Name
        th Last Name
        th Attending
        th Other Guests
        th Room
      each rsvp in rsvps
        tr
          td #{rsvp.email}
          td #{rsvp.firstName}
          td #{rsvp.lastName}
          td #{rsvp.attending}
          td #{rsvp.otherGuests}
          td #{rsvp.room}