doctype html
include _head
html
  head
    title= title
  body
    table(style='width:100%', border='1')
      tr
        th Email
        th Full Names
        th Attending
        th Room
        th Room paid
        th Room price
        th Message
        th Time
      each invitee in invitees
        tr(class=`together ${invitee.togetherSwitch} ${invitee.leadBooker && 'leadBooker'}`)
          td #{invitee.email}
          td #{invitee.fullName}
          td #{invitee.isAttending}
          td #{invitee.room}
          td #{invitee.roomPaid}
          td #{invitee.roomPrice}
          td #{invitee.message}
          td #{invitee.time}
