doctype html
include _head
html
  head
    title= title
  body
    table(style='width:100%', border='1')
      tr
        th Email
        th Full Names
        th Rsvp
        th Attending
        th Room
        th Room paid
        th Room price
        th Food
        th Message
        th Time
      each invitee in invitees
        tr(class=`together ${invitee.togetherSwitch} ${invitee.leadBooker && 'leadBooker' || ''} ${invitee.hasRsvp && 'rsvp' || 'no-rsvp'}`)
          td #{invitee.email}
          td #{invitee.fullName}
          td #{invitee.hasRsvpText}
          td #{invitee.isAttending}
          td #{invitee.room}
          td #{invitee.roomPaid}
          td #{invitee.roomPrice}
          td #{invitee.foodChoice}
          td #{invitee.message}
          td #{invitee.time}
    p
    table(style='width:50%', border='1')
      tr
        th Total
        th Value
      tr
        td Attending
        td #{totals.attending}
      tr
        td Not Attending
        td #{totals.notAttending}
      tr
        td Rsvps
        td #{totals.replied}
      tr
        td No Rsvp
        td #{totals.notReplied}
      tr
        td Invitees
        td #{totals.invitees}
